<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>slider</title>
</head>
<body>
<div class="container" th:fragment="slider">
    <div class="slides">
        <div class="slide">
            <img th:src="@{/images/peintre.png}" alt="" />
            <div class="slide-content">
                <h1>This is Heading</h1>
            </div>
        </div>
        <div class="slide">
            <img th:src="@{/images/Revêtement.png}" alt="" />
        </div>
        <div class="slide">
            <img th:src="@{/images/blombiere.png}" alt="" />
        </div>
        <div class="slide">
            <img th:src="@{/images/peintre.png}" alt="" />
        </div>
    </div>
    <div class="slide-controls">
        <button id="prev-btn">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button id="next-btn">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
<script th:src="@{/js/sliderJs.js}"></script>
</body>
</html>