<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class='part2' id='about' th:fragment="about">
    <div class="logo">
        <img th:src="@{images/logorenocraft.png}" alt="Logo" />
    </div>
    <div class="description">
        <h2>À Propos</h2>
        <p>Renocraft est votre partenaire de confiance pour toutes vos rénovations domiciliaires. Nous sommes dédiés à offrir des services de rénovation exceptionnels pour transformer votre maison en un espace qui correspond à vos rêves. <br>Faites confiance à notre équipe expérimentée pour prendre en charge tous les aspects de vos projets de rénovation, de la conception à la réalisation. Rendre votre maison encore plus belle et fonctionnelle n'a jamais été aussi simple avec Renocraft.</p>
    </div>
</div>
</body>
</html>