<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiffre</title>
</head>
<body>
<div class="chi" th:fragment="chiffre">
    <h2>Notre Réussite en Chiffres</h2>
    <div class="cont">
        <div class="chi1 border">
            <div class="image">
                <h1>10</h1>
                <img th:src="@{images/trophe.png}" alt="logorenocraft.png">
            </div>
            <div class="para">
                <p>RÉCOMPENSES</p>
            </div>
        </div>
        <div class="chi1 border">
            <div class="image">
                <h1>521</h1>
                <img th:src="@{images/projet.png}" alt="logorenocraft.png">
            </div>
            <div class="para">
                <p>PROJETS</p>
            </div>
        </div>
        <div class="chi1 border">
            <div class="image">
                <h1>341</h1>
                <img th:src="@{images/client.png}" alt="logorenocraft.png">
            </div>
            <div class="para">
                <p>CLIENTS SATISFAITS</p>
            </div>
        </div>
        <div class="chi1">
            <div class="image">
                <h1>32</h1>
                <img th:src="@{images/membre.png}" alt="logorenocraft.png">
            </div>
            <div class="para">
                <p>MEMBRES</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>