<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colab</title>
</head>
<body>
<div class="colabsec" th:fragment="colab">
    <h2>Nos Collaborateurs</h2>
    <div class="cont1">
        <div class="colab1">
            <div class="image">
                <img th:src="@{images/colorado.png}" alt="logorenocraft.png">
            </div>
        </div>
        <div class="colab1">
            <div class="image">
                <img th:src="@{images/atlas.png}" alt="logorenocraft.png">
            </div>
        </div>
        <div class="colab1">
            <div class="image">
                <img th:src="@{images/ingelec.png}" alt="logorenocraft.png">
            </div>
        </div>
        <div class="colab1">
            <div class="image1">
                <img th:src="@{images/roca.png}" alt="logorenocraft.png">
            </div>
        </div>

    </div>
</div>
</body>
</html>