<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div class="contact" id="contact" th:fragment="contact">
    <h1 class="ticlair chlen">Contactez-Nous</h1>
    <div class="information">
        <div class="imgcontact">
            <p>Coordonnées de contact</p>
            <div class="ye">
            <div class="coord1">
                <div class="icocoord">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="coordinfo">
                    <h3>Notre bureau</h3>
                    <p>123 rue, Casablanca, MAROC</p>
                </div>
            </div>
            <div class="coord1">
                <div class="icocoord">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="coordinfo">
                    <h3>Appelez-nous</h3>
                    <p>+212 5 22 02 02 03</p>
                </div>
            </div>
            <div class="coord1">
                <div class="icocoord">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="coordinfo">
                    <h3>Envoyez-nous un courriel</h3>
                    <p style="text-align: start">RenoCraft@gmail.com</p>
                </div>
            </div>
            </div>
        </div>
        <div class="formu">
            <form id="form" th:action="@{/contact}" method="post" th:object="${contact}">
                <p>Posez vos questions ici</p>
                <input type="email" placeholder="Adresse Email" name="email" required/><br/>
                <input type="text" placeholder="Nom" name="nom" required/><br/>
                <input type="text" placeholder="Prénom" name="prenom" required/><br/>
                <textarea placeholder="Message" name="message" required></textarea><br/>
                <input type="submit" value="Envoyer"/>
            </form>
        </div>
    </div>
    <div class="retour">
        <div class="mon"><a th:href="@{'#'}" class="fleche"><i class="fa-solid fa-arrow-up"></i></a></div>
    </div>
</div>
</body>
</html>