<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>profil</title>
</head>
<body>
<div class="profil" id="home" th:fragment="profil">
  <h2 id="" class="">Informations personnelles</h2>
  <div class="">
    <div class="form" th:if="${profil.isPresent()}">
      <div class="camera">
        <div class="cam">
          <img th:src="@{/images/Camera.png}" alt="photo.png">
        </div>
      </div>
      <form class="forms-sample" th:action="@{/profil}" method="post" th:object="${profil}">
        <div class="inp">
          <div class="lab">
            <label for="name">Nom : </label>
          </div>
          <input type="text" id="name" placeholder="votre nom" th:value="${profil.get().getName()}" name="name" required/>
        </div>
        <div class="inp">
          <div class="lab">
            <label for="username">Nom d'Utilisateur :</label>
          </div>
          <input type="hidden" name="usernamechamp" th:value="${profil.get().getUsername()}" />
          <input type="text" class="form-control" id="username" disabled th:value="${profil.get().getUsername()}"/>
          <!--<input type="text" id="usernamechamp" th:value="${profil.get().getUsername()}" name="usernamechamp" disabled required/><br/>-->
        </div>
        <div class="inp">
          <div class="lab">
            <label for="phone">Telephone :</label>
          </div>
          <input type="text" id="phone" placeholder="votre numero de telephone" th:value="${profil.get().getPhone()}" name="phone" required/><br/>

        </div>
        <div class="inp">
          <div class="lab">
            <label for="email">Gmail :</label>
          </div>
          <input type="email" class="form-control" name="email" id="email" required th:value="${profil.get().getEmail()}"/>
        </div>
        <div >
          <button type="submit" class="modifCl" >Modifier</button>
        </div>
      </form>
    </div>
    <div class="icone">
      <img th:src="@{/images/blacklogorenocraft.png}" alt="logorenocraft.png">
    </div>
  </div>
</div>
</body>
</html>
