<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Réalisation</title>
</head>
<body>
<div class="rea" th:fragment="realisation">
    <h2>Nos Réalisations</h2>
   <div class="group1">
       <img th:src="@{images/rea1.png}" alt="logorenocraft.png">
       <img th:src="@{images/rea2.png}" alt="logorenocraft.png">
       <img th:src="@{images/rea3.png}" alt="logorenocraft.png">
   </div>
    <div class="group2">
        <img th:src="@{images/rea4.png}" alt="logorenocraft.png">
        <img th:src="@{images/rea5.png}" alt="logorenocraft.png">
        <img th:src="@{images/rea6.png}" alt="logorenocraft.png">
    </div>
</div>
</body>
</html>