.Content {
    background-color: #E3E3E3;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    font-family: "Rund Display", sans-serif;
    align-items:center;
    text-align:center;

}
.Content h2{
    color: #201F25;
    font-size: 39px;
    padding-bottom: 40px;
    font-family: "Rund Display", sans-serif;

    padding-top: 120px;
}

.Content p{
    color: #201F25;
    font-size: 18px;
    font-family: "Rund Display", sans-serif;
    margin-bottom: 25px;
}

.collectionproduit{
    display:flex;
    flex-direction: row;
    padding-left:75px;
    margin-top:40px;
}
.Collection{
    width:47%;
    height:100%;

}
.Collection img{
    width:100%;
}
.Produits{
    margin-left:8%;
    flex-direction: column;
    width:45%;
    height:6%;

}
.sousprd{
    width:78.5%;
    height:6%;
}
.sousprd img{
    width:100%;
}
.packbloc{
    width:70%;
    background-color: #201F25;
    Height:45%;

}
.imgprd{
    display:flex;
    flex-direction:row;
    margin:20px 10px;
    width:35%;
    padding:10px;

}
.imgprd img{
    width:100%;
    padding-right:30px;
    border-radius:10px;
}
.unitt {
    margin-left:85%;
    font-size :30px;
    color:#ffffff;
    margin-top:20px;
    cursor: pointer;
}