@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Couleur Principale : #201F25 */
/* Couleur Secondaire : #E3E3E3 */





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


/*Scroll Bare*/

body::-webkit-scrollbar {
    width: 12px;

}
body{
    background: #E3E3E3;
}
body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-track:hover {
    background: white;

}


body::-webkit-scrollbar-thumb {
    background-color: #201F25;

}

body::-webkit-scrollbar-thumb:hover {
    background-color: #201F25;
}
