body {
    margin: 0;
    background-color: #E3E3E3;
    overflow: hidden; /* Empêche le défilement vertical */
    font-family: 'Rund Display',sans-serif;

}

.signup {
    display: flex;
    height: 100vh; /* 100% de la hauteur de la vue */
    padding-top: 2%;
}

.img {
    flex: 1;
    display: flex;
    width: 30%;
}

.img img {
    width: 90%; /* Ajustez la largeur de l'image selon vos besoins */
}

.Form {
    flex: 1;
    display: flex;
    margin-top: 5%;
    margin-left: 8%;
}

.content {
    width: 80%;
    border-radius: 15px;
    background-color: #201F25;
    border: 1px solid  #201F25;
    padding: 17px;
    margin-bottom: 15px; /* Ajout d'un espace en bas de 2px */
    height: auto;
}
.icone{margin-left: 40%;}
.icone img {
    align-self: center;
    align-items: center;
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
}

h2 {
    text-align: center;
    color: #fff;
}

.item{
    margin-top: 20px;
    width:100%;
    display: flex;
    flex-direction: row;

}

.form-label {
    color: #fff;
    margin-right: 10px; /* Ajout d'un espace entre le label et l'input */
    font-size: 14px;

}

.form-control {
    border:none;
    outline:none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    width:75%;
}
.label{width:27%;}
.btnsub{
    margin-left: 28%;
    margin-top: 20px;
    width: 50%;

}
.boutonsub {
    font-size: 16px;
    width: 100%;
    margin: 2px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    border-color: white;

}

.boutonsub:hover {
    background-color: white;
    color:  #201F25;
}
.popup {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ajoutez d'autres styles selon vos préférences */
}
