
.service{
    background: #E3E3E3;
    height: auto;
}
.service .content{
    align-items: center;
    margin: 0 6%;
}
.service .content h2 {
    color: #201F25;
    font-size: 39px;
    margin-bottom: 2%;
    padding-top: 10px;
    font-family: "Rund Display", sans-serif;
    text-align: center;
}
.service .content p {
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    font-weight: 500;
    font-family: "Rund Display", sans-serif;
}
.service .select{
    margin: 2% 0;
}
.service select  {
    color: white;
    background: #201F25;
    border-radius: 25px;
    border: 2px solid #201F25;
    position: relative;
    left: 40%;
    padding: 10px;
    width: 20%;
    cursor:pointer;
}
.service  .button button
{
    background: #201F25;
    color: white;
    width: 33%;
    padding: 2%;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor:pointer;
}
.service  .button button:hover
{
    box-shadow: #201F25;
}
.service .employee{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% 16%;
    padding: 2%;
    border-bottom: 1px solid #201F25;
}
.service .employee .emp_info p{
    font-family: "Rund Display", sans-serif;
}