body {
    margin: 0;
    background-color: #E3E3E3;
    overflow: hidden; /* Empêche le défilement vertical */
}

.signin {
    display: flex;
    height: 100vh; /* 100% de la hauteur de la vue */
    padding-top: 2%;
}

.signin-image{
    display: flex;
    width: 40%;
    margin-left: 10%;

}

.signin-image img {
    width: 100%; /* Ajustez la largeur de l'image selon vos besoins */
}

.content-signin {
    width: 80%;
    border-radius: 15px;
    background-color: #000;
    border: 1px solid #000;
    padding: 17px;
    margin-bottom: 15px; /* Ajout d'un espace en bas de 2px */
    height: 80vh;
}
.form-group {
    margin-top: 20px;
    width:100%;
    display: flex;
    flex-direction: row;

}
.Form-signin {
    flex: 1;
    display: flex;
    margin-top: 5%;
    margin-left: 8%;
}
.icone{margin-left: 40%;}
.icone img {
    align-self: center;
    align-items: center;
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
}

h2 {
    text-align: center;
    color: #fff;
}

.label{width:27%;}
.form-label {
    color: #fff;
    margin-right: 10px; /* Ajout d'un espace entre le label et l'input */
    font-size: 14px;

}
.form-control {

    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    width:75%;
}
.btn-signin{
    margin-left: 28%;
    margin-top: 20px;
    width: 50%;

}
.btn-info {
    font-size: 16px;
    width: 100%;
    margin: 2px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    border-color: white;

}

.btn-info:hover {
    background-color: white;
    color: black;
}