<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{images/logorenocraft.png}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#201F25" />
    <meta name="author" content="-YE- -JS- -YB-" />
    <meta name="description" content="Application JEE de Rénovation -RenoCraft-"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">
    <link rel="stylesheet" th:href="@{css/general.css}" />
    <link rel="stylesheet" th:href="@{css/header.css}" />
    <link rel="stylesheet" th:href="@{css/colab.css}" />
    <link rel="stylesheet" th:href="@{css/contact.css}" />
    <link rel="stylesheet" th:href="@{css/footer.css}" />
    <link rel="stylesheet" th:href="@{css/cart.css}" />
    <title>Cart</title>
</head>
<body>
<div th:insert="~{fragments/header2 :: header}"></div>
<div class="cartsec">
    <h2>Votre Sélection - Panier</h2>
    <!--pop up-->
    <div class="overlay2" id="filtreVerif"></div>
    <div class="packbloc" style="z-index: 1000;" id="popVerif">
        <div class="fermer">
            <i class="fa-solid fa-xmark" onclick="closeVerif()"></i>
        </div>
        <div class="imgcart">
            <img th:src="@{/images/whitelogorenocraft.png}" alt="jk.png">
        </div>
        <div class="content">
            <div class="cont1">
                <h3  >Planification De Rendez-Vous</h3>

            </div>
            <div class="cont4">
                <form method="post" th:object="${cart}" th:action="@{/cart}" >
                    <div>
                    <label for="tel">Numéro de Téléphone : </label>
                    <br>
                        <input type="hidden" name="packIds" id="idsInput">
                    <input type="text" required class="inputlong" id="tel" name="tel" disabled th:value="${cart.get().getPhone()}"></div>
                    <div class="groupdeinput">
                        <div class="inputgroup1">
                        <label for="date">Date :</label><br>
                        <input type="date" required id="date" name="dateCommande">
                        </div>
                        <div class="inputgroup2">
                        <label for="heure">Heure :</label><br>
                        <input type="time" required id="heure" name="heureCommande">
                        </div>
                    </div>
                    <div class="subdiv">
                        <input type="submit" value="Envoyer" class="subinput" onclick="validMessage()">
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--pop up-->
    <div id="cartcont">
        <p id="msgvide" class="pmesg">Votre Panier est Vide</p>

        <!--<div class="packcart">
            <div class="imgcart">
                <img th:src="@{/images/pack1.png}" alt="cart.png">
            </div>
            <div class="grand">
            <div class="contcartpack">
                <h4>Pack de Rénovation pour Jardin</h4>
                <p>Transformez votre jardin en un oasis de détente avec notre pack de rénovation spécial pour jardin.</p>
            </div>
            <div class="pricedelete">
                <h4>À Partir de 250$</h4>
                <i class="fa-solid fa-trash" onclick="delete(1)"></i>
            </div>
            </div>
        </div>-->
    </div>
    <div class="btnclass" id="btnid">
        <!--<button>Comfirmer</button>-->
    </div>
</div>
<div th:insert="~{fragments/colab :: colab}"></div>
<div th:insert="~{fragments/contact :: contact}"></div>
<div th:insert="~{fragments/footer :: footer}"></div>


<script>

    let cartcont = document.getElementById("cartcont");
    let msgvide = document.getElementById("msgvide");

    const popupVerif = ()=>{
        const filtre = document.getElementById("filtreVerif");
        const stade = document.getElementById("popVerif");
        stade.style.display="block";
        filtre.style.display="block";
        let panier5 = JSON.parse(localStorage.getItem("panierrenocraft"));
        let ids = [];
        for(let i=0;i<panier5.length;i++){
            ids.push(panier5[i].id);
        }
        document.getElementById("idsInput").value = ids;
        console.log(ids);
    };

    const validMessage= () => {
        localStorage.setItem("panierrenocraft",JSON.stringify([]));
        update();
    };

    function closeVerif(){
        const filtre2 = document.getElementById("filtreVerif");
        const stade2 = document.getElementById("popVerif");
        stade2.style.display="none";
        filtre2.style.display="none";
    }
    const update= ()=>{
        let panier = JSON.parse(localStorage.getItem("panierrenocraft"));
        if(panier.length!==0){
            msgvide.style.display="none";
            cartcont.innerHTML="";
            for (let i = 0; i < panier.length; i++) {
                let newPackCart = document.createElement('div');
                newPackCart.className = 'packcart';
                newPackCart.innerHTML = `
                        <div class="imgcart">
                            <img src="${panier[i].lien}" alt="cart.png">
                        </div>
                        <div class="grand">
                            <div class="contcartpack">
                                <h4>Pack de Rénovation Pour ${panier[i].piece}</h4>
                                <p>${panier[i].description}</p>
                            </div>
                        <div class="pricedelete">
                            <h4>À Partir de ${panier[i].prix}Dh</h4>
                            <i class="fa-solid fa-trash" onclick="deleteItem(${panier[i].id})"></i>
                        </div>
                        </div>`;
                cartcont.appendChild(newPackCart);
            }
            let btnaclass = document.getElementById('btnid');
            btnaclass.innerHTML=`<button onclick="popupVerif()">Comfirmer</button>`;
        }
        else{
            msgvide.style.display="block";
            cartcont.innerHTML=`<p id="msgvide" class="pmesg">Votre Panier est Vide</p>`;

            let btnaclass = document.getElementById('btnid');
            btnaclass.innerHTML="";
        }
    };

    update();


    const deleteItem = (id)=>{
        let panier1 = JSON.parse(localStorage.getItem("panierrenocraft"));
        for (let i = 0; i < panier1.length; i++) {
            if(panier1[i].id===id){
                panier1.splice(i,1);
            }
        }
        localStorage.setItem("panierrenocraft",JSON.stringify(panier1))
        update();
    };



</script>
</body>
</html>