<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">
    <meta charset="ISO-8859-1">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{css/general.css}" />
    <link rel="stylesheet" th:href="@{css/carousel.css}" />
    <link rel="stylesheet" th:href="@{css/header.css}" />
    <link rel="stylesheet" th:href="@{css/service.css}" />
    <link rel="stylesheet" th:href="@{css/colab.css}" />
    <link rel="stylesheet" th:href="@{css/contact.css}" />
    <link rel="stylesheet" th:href="@{css/footer.css}" />
    <title>Service</title>
</head>
<body>
    <div th:insert="~{fragments/header2 :: header}"></div>
    <div th:insert="~{fragments/slider :: slider}"></div>
    <div th:insert="~{fragments/serviceBody :: service}"></div>
    <div th:insert="~{fragments/colab :: colab}"></div>
    <div th:insert="~{fragments/contact :: contact}"></div>
    <div th:insert="~{fragments/footer :: footer}"></div>

<br>
</body>
</html>