<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{images/logorenocraft.png}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#201F25" />
    <meta name="author" content="-YE- -JS- -YB-" />
    <meta name="description" content="Application JEE de Rénovation -RenoCraft-"/>
    <link rel="stylesheet" th:href="@{css/general.css}" />

    <title>Sign In</title>
</head>
<body>
hjhsjd123456
</body>
</html>